@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);
@import url(https://fonts.googleapis.com/css?family=Oswald:300);

:root{
    --pop-color: #fff;
    --stroke-color: none;
}
*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #1a1a1a;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(./fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: blur(5px);
    z-index: 0; 
}
.card{
    position: absolute;
    display: grid;
    grid-template-rows: 50px auto auto;
    min-height: 60vh;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
}
.card::before{
    content: "";
    position: absolute;
    display: flex;
    width: 100%;
    height: 90vh;
    background-image: url(./BlueLogo.png);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
}
.card::-webkit-scrollbar {
    display: none;
}
.decoracion{
    z-index: 0;
}
.top-decoration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.mid-decoration{
  position: absolute;
  top: 250px;
  left: 300px;
  width: 100%;
  transition: 0.6s ease;
  pointer-events: none;
}
.move{
    animation: move 1500ms ease;
}
@keyframes move{
    0%, 50%, 100%{left: 300px;}
    25%, 75%{left: 285px;}
}
button{
  all: unset;
  display: flex;
  cursor: pointer;
}
#share{
    position: absolute;
    top: 340px;
    left: 355px;
    fill: var(--pop-color); 
    stroke: var(--pop-color);
    opacity: 0;
    transition: 1s ease;
}
.animate {
  top: 250px;
  left: 240px;
  width: 100%;
}
#share:hover{
  animation: rotar 1s alternate;
  opacity: 1;
}
.rotar{
    animation: rotar 1s alternate;
}
@keyframes rotar{
    0%{transform: rotate(0deg);}
    20%{transform: rotate(10deg);}
    40%{transform: rotate(-15deg);}
    60%{transform: rotate(15deg);}
    80%{transform: rotate(-10deg);}
    100%{transform: rotate(0deg);}
}
.foto{
    position: absolute;
    top: 80px;
    background-color: #fff;
    left: 241px;
    border-radius: 360px;
    width: 160px;
    margin: 0 -10px 20px;
    display: flex;
    height: 160px;
    align-items: center;
    clip-path: circle();
}
.foto img{
    position: relative;
    transform: scale(1.3);
    min-height: 160px;
    min-width: 160px;
    bottom: 20px;
}

/*Informacion personal*/

.contenido{
    display: grid;
    grid-template-columns: 25% auto;
    height: 500px;
    width: 100%;
}
.contact-info{
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    align-items: center;
    margin-left: 10px;
}
.pop{
    position: relative;
    clip-path: circle();
    width: -moz-fit-content;
    width: fit-content;
    margin: 5px 0px;
}
#wha{
    background-color: green;
}
#mail{
    background-color: rgb(239, 0, 0);
}
.pop button{
    padding: 10px;
    justify-self: center;
    align-self: center;
}
.pop:hover{
    background-color: #fff;
}
.pop svg{
    width: 50px;
    height: 50px;
    fill: var(--pop-color);
    stroke: var(--pop-color);
}
.id{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: "Oswald";
    font-size: 0.5em;
    letter-spacing: 0.4em;
    color: #1B4782;
    text-transform: uppercase;
}
.card h1 {
    margin: 0 10px;
    width: 100%;
    font-size: 0.4em;
    font-size: 26px;
    text-align: start;
}
.card #profesion{
    width: 100%;
    margin: 0 10px;
    font-weight: 600;
    font-size: 2em;
    text-align: start;
}

/*Seccion de tarjetas de informacion*/

.extra-info{
    position: relative;
    display: grid;
    overflow: hidden;
    background-color:#00A8CCBF;
    border-radius: 30px;
    grid-template-rows: auto auto;
    color: #fefefe;
    font-family: "Oswald";
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    line-height: 2;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    margin: 10px;
    width: 380px;
    height: 200px;
    box-shadow: 0 5px 8px rgb(39, 54, 74);
    align-content: center;
    justify-items: center;
}
#info1{
    position: relative;
    color: #1B4782;
    left: 30px;
    bottom: 30%;
    width: 80%;
    font-weight: 600;
    text-align: justify;
}
#info2{
    position: relative;
    font-weight: bold;
    width: 100%;
}
.extra-info .muelita{
    position: absolute;
    width: 60px;
    height: 80px;
    align-self: flex-start;
    justify-self: start;
}
.extra-info .muelita2{
    position: absolute;
    width: 40px;
    height: 60px;
    align-self: flex-start;
    justify-self: start;
    padding: 10px;
}
.extra-info p{
    display: flex;
    margin: 0 10px;
    align-items: center;
}
.direccion{
    position: relative;
    display: flex;
    width: 50px;
    height: 90px;
    align-items: center;
    bottom: 10px;
}
.extra-info button{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}
.direction{
    display: flex;
    height: auto;
}
.salto{
    animation: salto 1500ms ease;
}
@keyframes salto{
    0%,50%,100%{transform: translateY(-0px);}
    25%,75%{transform: translateY(15px);}
}
.sombra{
    animation: sombra 1500ms ease;
    transform-origin: bottom;

}
@keyframes sombra{
    0%,50%,100%{transform: scale(1);}
    25%,75%{transform: scale(1.4);}
}
.foot{
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #1B4782;
    text-align: center;
    color: #fefefe;
    font-family: "Ubuntu";
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.5em;
    line-height: 2;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 2600px){
    .card{
       transform: scale(0.9);
    }
}
@media screen and (max-width: 1500px){
    .card{
        transform: scale(0.9);
    }
}
@media screen and (max-width: 600px){
    .card{
       transform: scale(0.9);
    }
}
@media screen and (max-width: 400px){
    .card{
        min-width: 400px;
        height: 100%;
        transform: scale(0.7);
    }
}
